/.idea
/.vscode
/runtime
/dist
/build

# Dependency directories
/node_modules
/vendor
/.wippy
/.context

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.tmp
.DS_Store

# env file
.env
